body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #333;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    background-color: #E6F3FF;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

h1 {
    text-align: center;
    color: #1A1A1A;
    font-size: 2.5em;
    margin-bottom: 30px;
    font-weight: 700;
}

.upload-form, .graph-selection {
    margin-bottom: 20px;
    text-align: center;
}

/* Updated styles for file input, select, and submit button */
input[type="file"] {
    display: none; /* Hide the default file input */
}

.file-upload-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.file-upload-btn:hover {
    background-color: #45a049;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

select, input[type="submit"] {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    background-color: #ffffff;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

select:hover, input[type="submit"]:hover {
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#chart {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}

#stats {
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
    margin-top: 20px;
}

#stats p {
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
